<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="ToolsDataContext" connectionString="Data Source=.;database=Sy_PrizeDraw;uid=sa;pwd=123456;" providerName="System.Data.SqlClient" />-->
		<!--MultipleActiveResultSets=true;-->
		<!--<add name="ToolsDataContext" connectionString="Data Source=JYJ;Initial Catalog=VacuumSystem2;User ID=sa;Password=123456;"
 providerName="System.Data.SqlClient" />-->
		<add name="ToolsDataContext" connectionString="Data Source=.;Initial Catalog=VacuumSystem;User ID=sa;Password=123456;"
 providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>